[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=qamix
Icon=qamix
Name=QAMix
Categories=AudioVideo;Audio;Midi;Mixer;Qt;X-Alsa
Terminal=false
Comment=QAMix is a mixer program for ALSA that can be controlled via MIDI
